.footer
  %ul.footer__main
    %li.footer__main__privacy-policy
      = link_to "プライバシーポリシー", "#", class: "footer__btn"
    %li.footer__main__terms-of-service
      = link_to "利用規約", "#", class: "footer__btn"