.footer {
  background-image: image-url("shutterstock_650114668.jpg");
  background-size: cover;
  background-position: center;
  &__main {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    &__privacy-policy {
      padding: 120px;
    }
    &__terms-of-service {
      padding: 120px;
    }
  }
  &__btn {
    color: white;
    text-decoration: none;
  }
}

