.appbanner
  .appbanner__internal
    .appbanner__internal__message
      心も体も朝散歩でリフレッシュ
    .appbanner__internal__text
      今すぐ無料ダウンロード!
    .appbanner__internal__icon
      = link_to '#' do
        = image_tag("Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg", class: "appbanner__internal__icon__abtn")
      = link_to '#' do
        = image_tag("google-play-badge.png", class: "appbanner__internal__icon__gbtn")


      